@charset "UTF-8";
/*VARIABLE

$color-principal: black;
$color-secundario: white;*/
/*LISTAS

$colores: red, green, blue, tomato, pink;
$font: 20px, 25px, 30px, 42px;

se aplica:
h1{
    color: nth($colores, 4);
}*/
/*OPERACIONES

$ancho: 750px;
img{
    widht: $ancho / 2;
}*/
/*MAPAS

$boton:(
    bg-color: black,
    border-boton: 2px solid tomato,
    color-text: white,
);

.boton {
background-color: map-get($boton, bg-color);
color: map-get($boton, color-text);
}*/
/*EXTENDS
Valores fijos.

%enlaces{
    text-decoration: none;
    color: black;
}

.boton{
    background-color: aqua;
    border: solid 1px black;
    @extend %enlaces;
}*/
/* MIXIN
@mixin flex($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

.galeria{
    @include flex(flex, space-around, center)
}*/
/*CONDICIONALES

@mixin modos ($modo){
    @if $modo == black{
        border: solid 2px blue;
    }
    @else{
        border: solid 2px red;
    }
}

.bg-elemento{
    @include modos (black);
}*/
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ledger&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "League Gothic"; }

.navbar-color {
  background-color: black; }

.navbar img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px, solid, white; }
  .navbar img:hover {
    border: 2px, solid, goldenrod; }

.nav-link {
  font-size: 24px;
  color: white; }
  .nav-link:hover {
    color: goldenrod; }
  .nav-link:active {
    color: black;
    background-color: goldenrod; }

.sectorUno {
  width: 100%;
  height: calc(100vh - 74px);
  background-image: url(../img/fondocharly.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 40px;
  padding-left: 200px; }
  .sectorUno h1 {
    font-family: "League Spartan";
    color: white; }

.tituloPeque単o {
  font-size: 96px; }
  .tituloPeque単o::selection {
    color: goldenrod; }

.tituloGrande {
  font-size: 128px; }
  .tituloGrande::selection {
    color: goldenrod; }

.sectorDos {
  width: 100%;
  height: 798px;
  background-color: #191919;
  display: flex;
  align-items: center; }

.top {
  height: 798px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start; }
  .top p {
    font-size: 40px;
    color: white;
    margin-bottom: 0px; }
    .top p::selection {
      color: goldenrod; }

.clics {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .clics h2 {
    font-size: 128px;
    text-decoration: underline;
    color: black; }
    .clics h2::selection {
      color: goldenrod; }
    .clics h2 span {
      color: black;
      font-size: 128px;
      text-decoration: underline;
      text-decoration-color: black; }
      .clics h2 span::selection {
        color: goldenrod; }
  .clics p {
    font-size: 24px;
    width: 600px;
    text-align: center;
    color: white; }
    .clics p::selection {
      color: goldenrod; }

.boton {
  width: 200px;
  height: 50px;
  margin: 25px; }

#carouselExample {
  width: 450px;
  height: 500px;
  margin-left: 20px;
  border: 2px solid goldenrod; }

.sectorTres {
  width: 100%;
  height: 700px;
  display: flex; }
  .sectorTres a {
    width: 25%;
    position: relative; }
    .sectorTres a p {
      position: absolute;
      bottom: 0;
      font-size: 50px;
      padding: 10px;
      color: white; }
    .sectorTres a img {
      height: 700px;
      width: 100%; }

#sobreEl {
  width: 100%;
  height: calc(100vh - 74px);
  background-image: url(../img/piano.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex; }
  #sobreEl div {
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 15px; }
  #sobreEl p {
    margin-bottom: 100px; }
  #sobreEl img {
    border: 3px solid white;
    border-radius: 50%;
    width: 400px;
    height: 400px; }

#suiGeneris {
  width: 100%;
  height: 743px;
  background-image: url(../img/bat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex; }
  #suiGeneris div {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 15px; }
  #suiGeneris p {
    margin-bottom: 99px; }

#maquinaPajaros {
  width: 100%;
  height: 743px;
  background-image: url(../img/guitar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex; }
  #maquinaPajaros div {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 15px; }
  #maquinaPajaros p {
    margin-bottom: 23px; }

#seruGiran {
  width: 100%;
  height: 743px;
  background-image: url(../img/bass.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex; }
  #seruGiran div {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 15px; }
  #seruGiran p {
    margin-bottom: 60px; }

#solista {
  width: 100%;
  height: 830px;
  background-image: url(../img/micro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex; }
  #solista div {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 15px;
    margin-bottom: 138px; }

.texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .texto h1 {
    font-size: 96px;
    padding: 10px;
    color: white; }
    .texto h1::selection {
      color: goldenrod; }
  .texto h3 {
    font-size: 96px;
    padding: 10px;
    color: white; }
    .texto h3::selection {
      color: goldenrod; }
  .texto h2 {
    font-size: 64px;
    padding: 10px;
    color: white; }
    .texto h2::selection {
      color: goldenrod; }
  .texto p {
    font-size: 25px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); }
    .texto p::selection {
      color: goldenrod; }

.fondoDisco {
  background-image: url(../img/fondodiscografia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .fondoDisco h1 {
    color: white;
    font-size: 96px;
    padding: 10px; }
    .fondoDisco h1::selection {
      color: goldenrod; }

.discos {
  display: grid;
  grid-template-rows: repeat(6, 400px);
  grid-template-columns: repeat(2, 1fr);
  gap: 150px;
  padding: 50px; }
  .discos div {
    width: 350px;
    height: 350px; }
    .discos div a:active {
      width: 325px;
      height: 325px; }
    .discos div a img {
      width: 350px;
      height: 350px; }
      .discos div a img:hover {
        border: 2px solid goldenrod; }
    .discos div p {
      font-size: 30px;
      color: white;
      background-color: rgba(0, 0, 0, 0.2);
      text-align: center; }
      .discos div p::selection {
        color: goldenrod; }

.imagen13 {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-top: 80px; }
  .imagen13 p {
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2); }
    .imagen13 p::selection {
      color: goldenrod; }
  .imagen13 img {
    width: 350px;
    height: 350px; }
    .imagen13 img:hover {
      border: 2px solid goldenrod; }

.fondoReconocimientos {
  background-color: #191919; }

.contenedorImg {
  width: 100%;
  height: calc(100vh - 74px);
  background-image: url(../img/charlyreconocimiento.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.contenedorRec {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; }
  .contenedorRec p {
    font-family: "League Gothic";
    font-size: 36px;
    color: white;
    text-align: center;
    margin: 60px;
    border-bottom: 2px solid white; }
    .contenedorRec p::selection {
      color: goldenrod; }

.contenedorFotos {
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
  display: grid;
  gap: 15px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "item1 item2" "item3 item3"; }

.item1 {
  width: 100%;
  height: 374px;
  border-radius: 20px;
  grid-area: item1;
  border: 2px solid goldenrod; }

.item2 {
  width: 100%;
  height: 374px;
  border-radius: 20px;
  grid-area: item2;
  border: 2px solid goldenrod; }

.item3 {
  width: 100%;
  height: 374px;
  border-radius: 20px;
  grid-area: item3;
  border: 2px solid goldenrod; }

.fondoGaleria {
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .fondoGaleria h1 {
    font-family: "Ledger";
    font-size: 96px;
    color: white;
    text-align: center;
    margin: 10px; }
    .fondoGaleria h1::selection {
      color: goldenrod; }

.galeria {
  width: 70%;
  display: grid;
  gap: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-template-rows: repeat(9, auto);
  grid-template-columns: repeat(3, auto);
  grid-template-areas: "img1 img2 img2" "img3 img4 img7" "img5 img6 img7" "img8 img8 img8" "img9 img10 img11" "img12 img13 img13" "img12 img14 img14" "img12 img15 img15" "img16 img16 img16"; }
  .galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    .galeria img:hover {
      border: 2px solid goldenrod; }

.img1 {
  grid-area: img1; }

.img2 {
  grid-area: img2; }

.img3 {
  grid-area: img3; }

.img4 {
  grid-area: img4; }

.img5 {
  grid-area: img5; }

.img6 {
  grid-area: img6; }

.img7 {
  grid-area: img7; }

.img8 {
  grid-area: img8; }

.img9 {
  grid-area: img9; }

.img10 {
  grid-area: img10; }

.img11 {
  grid-area: img11; }

.img12 {
  grid-area: img12; }

.img13 {
  grid-area: img13; }

.img14 {
  grid-area: img14; }

.img15 {
  grid-area: img15; }

.img16 {
  grid-area: img16; }

footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }
  footer div p {
    font-family: "League Spartan";
    color: white;
    font-size: 15px;
    margin-bottom: 0px; }
    footer div p::selection {
      color: goldenrod; }
  footer div a {
    margin: 10px; }
    footer div a img {
      width: 30px;
      height: 30px; }

@media (max-width: 1510px) {
  .sectorDos {
    justify-content: space-around; }
  .clics {
    width: 500px; }
    .clics p {
      width: 400px; }
    .clics h2 {
      font-size: 96px; }
      .clics h2 span {
        font-size: 96px; }
  #maquinaPajaros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; }
    #maquinaPajaros p {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px; }
    #maquinaPajaros #video {
      width: 560px;
      height: 240px; } }

@media (max-width: 1400px) {
  #suiGeneris {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; }
    #suiGeneris p {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px; }
    #suiGeneris #video {
      width: 560px;
      height: 200px; }
  #maquinaPajaros #video {
    width: 560px;
    height: 200px; }
  #seruGiran {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; }
    #seruGiran p {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px; }
    #seruGiran #video {
      width: 560px;
      height: 200px; }
  #solista {
    display: flex;
    flex-direction: column; }
    #solista p {
      font-size: 24px; }
    #solista div {
      display: flex;
      justify-content: center; }
    #solista #video {
      width: 560px;
      height: 200px; } }

@media (max-width: 1280px) {
  .sectorUno {
    padding-left: 20px; }
  .tituloPeque単o {
    font-size: 80px; }
  .tituloGrande {
    font-size: 110px; }
  .sectorDos {
    display: flex;
    flex-direction: column; }
  .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start; }
    .top p {
      font-size: 35px;
      padding: 20px; }
  .clics {
    margin-top: 30px; }
  .sectorTres {
    height: 600px; }
    .sectorTres a img {
      height: 600px; }
  #carouselExample {
    display: none; }
  .texto h1 {
    font-size: 70px; }
  .texto h3 {
    font-size: 70px; }
  .contenedorRec p {
    font-size: 30px; }
  .item1, .item2 {
    height: 400px; }
  .item3 {
    height: 374px; } }

@media (max-width: 1090px) {
  .sectorUno {
    background-position: right; }
  #sobreEl p {
    font-size: 24px; }
  #sobreEl img {
    width: 300px;
    height: 300px;
    margin-bottom: 50px; }
  #suiGeneris div {
    display: none; }
  #maquinaPajaros div {
    display: none; }
  #seruGiran div {
    display: none; }
  #solista div {
    display: none; }
  .texto h3 {
    margin-bottom: 50px; }
  .navbar-toggler {
    background-color: white; }
  .contenedorImg {
    background-position: left; } }

@media (max-width: 910px) {
  .sectorTres {
    height: 500px; }
    .sectorTres a img {
      height: 500px; }
  .discos {
    display: flex;
    flex-direction: column;
    padding-top: 50px; }
    .discos div {
      width: 300px;
      height: 300px; }
      .discos div a img {
        width: 300px;
        height: 300px; }
        .discos div a img:hover {
          border: 2px solid goldenrod; }
  .imagen13 img {
    width: 300px;
    height: 300px; }
    .imagen13 img:hover {
      border: 2px solid goldenrod; }
  .item1, .item2 {
    height: 300px; }
  .item3 {
    height: 274px; } }

@media (max-width: 845px) {
  .top {
    display: none; }
  .sectorTres {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column; }
    .sectorTres a {
      height: 200px;
      width: 100%; }
      .sectorTres a img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
  .contenedorFotos {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px; }
  #sobreEl p {
    font-size: 20px; }
  #suiGeneris p {
    font-size: 20px; }
  #maquinaPajaros p {
    font-size: 20px; }
  #seruGiran p {
    font-size: 20px; }
  #solista p {
    font-size: 20px; }
  .contenedorRec p {
    font-size: 24px; } }

@media (max-width: 670px) {
  .sectorUno {
    background-position: -60em; }
  .tituloPeque単o {
    font-size: 64px; }
  .tituloGrande {
    font-size: 85px; }
  .clics {
    width: 250px; }
    .clics h2 {
      font-size: 70px;
      text-align: center; }
      .clics h2 span {
        font-size: 70px;
        text-align: center; }
    .clics p {
      width: 250px; }
  #sobreEl h1 {
    font-size: 50px; }
  #sobreEl h2 {
    font-size: 50px; }
  #sobreEl p {
    font-size: 17px; }
  #sobreEl div {
    display: none; }
  #suiGeneris h3 {
    font-size: 50px;
    margin-bottom: 0px; }
  #suiGeneris p {
    font-size: 17px; }
  #maquinaPajaros h3 {
    font-size: 50px;
    margin-bottom: 0px; }
  #maquinaPajaros p {
    font-size: 17px; }
  #seruGiran h3 {
    font-size: 50px;
    margin-bottom: 0px; }
  #seruGiran p {
    font-size: 17px; }
  #solista h3 {
    font-size: 50px;
    margin-bottom: 0px; }
  #solista p {
    font-size: 17px; }
  .fondoDisco h1 {
    font-size: 50px; }
  .discos div {
    width: 250px;
    height: 250px; }
    .discos div a img {
      width: 250px;
      height: 250px; }
      .discos div a img:hover {
        border: 2px solid goldenrod; }
  .imagen13 {
    width: 250px;
    height: 250px;
    margin-top: 150px; }
    .imagen13 img {
      width: 250px;
      height: 250px; }
      .imagen13 img:hover {
        border: 2px solid goldenrod; }
  .contenedorRec p {
    font-size: 20px;
    margin: 50px; }
  .contenedorImg {
    background-position: -20em; }
  .item1, .item2 {
    height: 200px; }
  .item3 {
    height: 200px; }
  .fondoGaleria h1 {
    font-size: 50px; }
  .galeria {
    display: flex;
    flex-direction: column; }
  footer {
    flex-direction: column; }
    footer div p {
      font-size: 10px;
      text-align: center; }
    footer div a img {
      width: 20px;
      height: 20px; } }
