@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "League Gothic";
}

/*------ HEADER -------*/
.navbar-color {
    background-color: black;
}
.navbar img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px, solid, white;
}
.navbar img:hover{
    border: 2px, solid, goldenrod;
}
.nav-link{
    font-size: 24px;
    color: white;
}
.nav-link:hover{
    color: goldenrod;
}
.nav-link:active{
    color: black;
    background-color: goldenrod;
}

/*------ MAIN INDEX -------*/
.sectorUno{
    width: 100%;
    height: calc(100vh - 74px);
    background-image: url(../img/fondocharly.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 40px;
    padding-left: 200px;
}
.sectorUno h1{
    font-family: "League Spartan";
    color: white;
}
.tituloPequeño{
    font-size: 96px;
}
.tituloGrande{
    font-size: 128px;
}
.tituloPequeño::selection{
    color: goldenrod;
}
.tituloGrande::selection{
    color: goldenrod;
}
.sectorDos{
    width: 100%;
    height: 798px;
    background-color: rgb(24, 22, 22, 88%);
    display: flex;
    align-items: center;
}
.top{
    height: 798px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.top p{
    font-size: 45px;
    color: rgb(255, 255, 255, 29%);
    margin-bottom: 0px;
}
.top p::selection{
    color: goldenrod;
}
.clics{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clics h2{
    font-size: 128px;
    text-decoration: underline;
}
.clics h2::selection{
    color: goldenrod;
}
.clics h2 span{
    color: rgb(25, 25, 25);
    font-size: 128px;
    text-decoration: underline;
    text-decoration-color: white;
}
.clics h2 span::selection{
    color: goldenrod;
}
.clics p{
    font-size: 24px;
    width: 600px;
    text-align: center;
}
.clics p::selection{
    color: goldenrod;
}
.boton{
    width: 200px;
    height: 50px;
    margin: 25px;
}
#carouselExample{
    width: 450px;
    height: 500px;
    margin-left: 20px;
}
.sectorTres{
    width: 100%;
    height: 700px;
    display: flex;
}
.sectorTres a{
    width: 25%;
    position: relative;
}
.sectorTres a p{
    position: absolute;
    bottom: 0;
    font-size: 50px;
    padding: 10px;
}
.sectorTres a img{
    height: 700px;
    width: 100%;
}

/*------ MAIN BIOGRAFÍA -------*/
#sobreEl{
    width: 100%;
    height: calc(100vh - 74px);
    background-image: url(../img/piano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
#sobreEl div{
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 15px;
}
#sobreEl p{
    margin-bottom: 100px;
}
#sobreEl img{
    border: 3px solid white;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
#suiGeneris{
    width: 100%;
    height: 743px;
    background-image: url(../img/bat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
#suiGeneris div{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 15px;
}
#suiGeneris p{
    margin-bottom: 110px;
}
#maquinaPajaros{
    width: 100%;
    height: 743px;
    background-image: url(../img/guitar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
#maquinaPajaros div{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 15px;
}
#maquinaPajaros p{
    margin-bottom: 50px;
}
#seruGiran{
    width: 100%;
    height: 743px;
    background-image: url(../img/bass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
#seruGiran div{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 15px;
}
#seruGiran p{
    margin-bottom: 70px;
}
#solista{
    width: 100%;
    height: 830px;
    background-image: url(../img/micro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
#solista div{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 15px;
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.texto h1, h3{
    font-size: 96px;
    padding: 10px;
}
.texto h1::selection{
    color: goldenrod;
}
.texto h3::selection{
    color: goldenrod;
}
.texto h2{
    font-size: 64px;
    padding: 10px;
}
.texto h2::selection{
    color: goldenrod;
}
.texto p{
    font-size: 25px;
    padding: 10px;
}
.texto p::selection{
    color: goldenrod;
}
.texto h1, h2, h3, p{
    color: white;
}

/*------ MAIN DISCOGRAFÍA -------*/
.fondoDisco{
    background-image: url(../img/fondodiscografia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fondoDisco h1{
    color: white;
    font-size: 96px;
    padding: 10px;
}
.fondoDisco h1::selection{
    color: goldenrod;
}
.discos{
    display: grid;
    grid-template-rows: repeat(6, 400px);
    grid-template-columns: repeat(2, 1fr);
    gap: 150px;
    padding-top: 50px;
}
.discos div{
    width: 350px;
    height: 350px;
}
.discos img{
    width: 350px;
    height: 350px;
}
.discos img:hover{
    width: 400px;
    height: 400px;
}
.discos p{
    font-size: 30px;
    text-align: center;
}
.discos p::selection{
    color: goldenrod;
}
.imagen13{
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-top: 80px;
}
.imagen13 p{
    font-size: 30px;
}
.imagen13 p::selection{
    color: goldenrod;
}
.imagen13 img{
    width: 350px;
    height: 350px;
}
.imagen13 img:hover{
    width: 400px;
    height: 400px;
}

/*------ MAIN GALERÍA -------*/
.fondoGaleria{
    background-color: rgb(24, 22, 22, 88%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fondoGaleria h1{
    font-family: "Ledger";
    font-size: 96px;
    color: white;
    text-align: center;
}
.fondoGaleria h1::selection{
    color: goldenrod;
}
.galeria{
    width: 70%;
    display: grid;
    gap: 15px;
    padding-top: 20px;
    grid-template-rows: repeat(9, auto);
    grid-template-columns: repeat(3, auto);
    grid-template-areas: 
        "img1 img2 img2"
        "img3 img4 img7"
        "img5 img6 img7"
        "img8 img8 img8"
        "img9 img10 img11"
        "img12 img13 img13"
        "img12 img14 img14"
        "img12 img15 img15"
        "img16 img16 img16";
}
.img1 { grid-area: img1;}
.img2 { grid-area: img2;}
.img3 { grid-area: img3;}
.img4 { grid-area: img4;}
.img5 { grid-area: img5;}
.img6 { grid-area: img6;}
.img7 { grid-area: img7;}
.img8 { grid-area: img8;}
.img9 { grid-area: img9;}
.img10 { grid-area: img10;}
.img11 { grid-area: img11;}
.img12 { grid-area: img12;}
.img13 { grid-area: img13;}
.img14 { grid-area: img14;}
.img15 { grid-area: img15;}
.img16 { grid-area: img16;}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galeria img:hover{
    border: 2px solid goldenrod;
}

/*------ MAIN RECONOCIMIENTOS -------*/
.fondoReconocimientos{
    background-color: rgb(24, 22, 22, 88%);
}
.contenedorImg, .contenedorImg img{
    width: 100%;
    height: calc(100vh - 74px);
}
.contenedorRec{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.contenedorRec p{
    font-family: "League Gothic";
    font-size: 36px;
    text-align: center;
    margin: 60px;
    border-bottom: 2px solid white;
}
.contenedorRec p::selection{
    color: goldenrod;
}
.contenedorFotos{
    width: 80%;
    margin: auto;
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "item1 item2"
    "item3 item3";
}
.item1{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    grid-area: item1;
}
.item2{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    grid-area: item2;
}
.item3{
    width: 100%;
    height: 374px;
    border-radius: 20px;
    grid-area: item3;
}

/*------ FOOTER ------*/
footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
footer div p{
    font-family: "League Spartan";
    color: white;
    font-size: 15px;
    margin-bottom: 0px;
}
footer div p::selection{
    color: goldenrod;
}
footer div a{
    margin: 10px;
}
footer div a img{
    width: 30px;
    height: 30px;
}

/*------ RESPONSIVE ------*/
@media (max-width: 1590px){
    .top{
        height: 798px;
        width: 300px;
    }
    .top p{
        font-size: 40px;
    }
    .fotoaAticulo img{
        width: 420px;
        height: 470px;
    }
}

@media (max-width: 1510px){
    .clics h2{
        font-size: 96px;
    }
    .fotoArticulo img{
        width: 370px;
        height: 420px;
    }
    #solista{
        display: flex;
        flex-direction: column;
    }
    #solista p{
        font-size: 24px;
    }
    #solista div{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1460px){
    #maquinaPajaros{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    #maquinaPajaros p{
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }
    #maquinaPajaros #video{
        width: 560px;
        height: 270px;
    }
}

@media (max-width: 1400px){
    .clics{
        width: 500px;
    }
    .fotoArticulo{
        margin-left: 80px;
    }
    #suiGeneris{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    #suiGeneris p{
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }
    #suiGeneris #video{
        width: 560px;
        height: 270px;
    }
    #seruGiran{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    #seruGiran p{
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }
    #seruGiran #video{
        width: 560px;
        height: 270px;
    }
}

@media (max-width: 1280px){
    .sectorUno{
        padding-left: 20px;
    }
    .tituloPequeño{
        font-size: 80px;
    }
    .tituloGrande{
        font-size: 110px;
    }
    .sectorDos{
        display: flex;
        flex-direction: column;
    }
    .top{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }
    .top p{
        font-size: 25px;
        padding: 20px;
    }
    .clics{
        margin-top: 30px;
    }
    .clics h2{
        font-size: 70px;
    }
    .fotoArticulo{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-bottom: 15px;
    }
    .fotoArticulo img{
        width: 250px;
        height: 300px;
    }
    .sectorTres{
        height: 600px;
    }
    .sectorTres a img{
        height: 600px;
    }
    #suiGeneris #video{
        width: 560px;
        height: 200px;
    }
    #maquinaPajaros #video{
        width: 560px;
        height: 200px;
    }
    #seruGiran #video{
        width: 560px;
        height: 200px;
    }
    #solista #video{
        width: 560px;
        height: 200px;
    }
    .contenedorRec p{
        font-size: 30px;
    }
    .item1, .item2{
        height: 400px;
    }
    .item3{
        height: 374px;
    }
}

@media (max-width: 1090px){
    .sectorTres{
        height: 500px;
    }
    .sectorTres a img{
        height: 500px;
    }
    #sobreEl p{
        font-size: 24px;
    }
    #sobreEl img{
        width: 300px;
        height: 300px;
        margin-bottom: 50px;
    }
    #suiGeneris div{
        display: none;
    }
    #maquinaPajaros div{
        display: none;
    }
    #seruGiran div{
        display: none;
    }
    #solista div{
        display: none;
    }
    .texto h3{
        margin-bottom: 50px;
    }
    
}

@media (max-width: 910px){
    .discos{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }
    .discos div{
        width: 300px;
        height: 300px;
    }
    .discos img{
        width: 300px;
        height: 300px;
    }
    .item1, .item2{
        height: 300px;
    }
    .item3{
        height: 274px;
    }
}

@media (max-width: 845px){
    .sectorUno{
        padding-left: 20px;
    }
    .tituloPequeño{
        font-size: 70px;
    }
    .tituloGrande{
        font-size: 90px;
    }
    .top{
        height: 100px;
        margin-bottom: 50px;
    }
    .clics h2{
        font-size: 50px;
    }
    .clics p{
        font-size: 20px;
    }
    .fotoArticulo img{
        width: 200px;
        height: 250px;
    }
    .sectorTres{
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
    }
    .sectorTres a{
        height: 200px;
        width: 100%;
    }
    .sectorTres a img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .contenedorFotos{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    #sobreEl p{
        font-size: 20px;
    }
    #suiGeneris p{
        font-size: 20px;
    }
    #maquinaPajaros p{
        font-size: 20px;
    }
    #seruGiran p{
        font-size: 20px;
    }
    #solista p{
        font-size: 20px;
    }
    .contenedorRec p{
        font-size: 24px;
    }
}

@media (max-width: 670px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    header nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .clics h2{
        margin-top: 40px;
    }
    .clics p{
        font-size: 20px;
        width: 400px;
        text-align: center;
        margin-top: 20px;
    }
    .fotoArticulo img{
        display: none;
    }
    footer div p{
        font-size: 10px;
    }
    footer div a img{
        width: 20px;
        height: 20px;
    }
    .fondoGaleria h1{
        font-size: 70px;
    }
    .galeria{
        display: flex;
        flex-direction: column;
    }
}