#sobreEl{
    width: 100%;
    height: calc(100vh - 74px);
    background-image: url(../img/piano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
        div{
            @include flex(flex, end, end);
            margin: 15px;
        }
        p{
            margin-bottom: 100px;
        }
        img{
            border: 3px solid goldenrod;
            border-radius: 50%;
            width: 400px;
            height: 400px;
            transition-duration: 1s;
            &:hover{
                transform: rotateY(180deg);
            }
        }
}

#suiGeneris{
    width: 100%;
    height: 743px;
    background-image: url(../img/bat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
        div{
            @include flex(flex, start, center);
            margin: 15px;
        }
        p{
            margin-bottom: 99px;
        }
}

#maquinaPajaros{
    width: 100%;
    height: 743px;
    background-image: url(../img/guitar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
        div{
            @include flex(flex, end, center);
            margin: 15px;
        }
        p{
            margin-bottom: 23px;
        }
}

#seruGiran{
    width: 100%;
    height: 743px;
    background-image: url(../img/bass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
        div{
            @include flex(flex, end, center);
            margin: 15px;
        }
        p{
            margin-bottom: 60px;
        }
}

#solista{
    width: 100%;
    height: 830px;
    background-image: url(../img/micro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
        div{
            @include flex(flex, end, center);
            margin: 15px;
            margin-bottom: 138px;
        }
}

.texto{
    @include flex(flex, space-between, start);
    flex-direction: column;
        h1{
            font-size: 96px;
            padding: 10px;
            color: $color-fuente;
            &::selection{
                color: $color-selection;
            }
        }
        h3{
            font-size: 96px;
            padding: 10px;
            color: $color-fuente;
            &::selection{
                color: $color-selection;
            }
        }
        h2{
            font-size: 64px;
            padding: 10px;
            color: $color-fuente;
            &::selection{
                color: $color-selection;
            }
            
        }
        p{
            font-size: 25px;
            padding: 10px;
            color: $color-fuente;
            background-color: rgba(0, 0, 0, 0.5);
            &::selection{
                color: $color-selection;
            }
        }
}
