.fondoDisco{
    background-image: url(../img/fondodiscografia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include flex(flex, start, center);
    flex-direction: column;
        h1{
            color: $color-fuente;
            font-size: 96px;
            padding: 10px;
            &::selection{
                color: $color-selection;
            }
        }
}

.discos{
    display: grid;
    grid-template-rows: repeat(6, 400px);
    grid-template-columns: repeat(2, 1fr);
    gap: 150px;
    padding: 50px;
        div{
            width: 350px;
            height: 350px;
            transition-duration: 1s;
                    &:hover{
                        transform: scale(1.1);
                    }
            a{
                img{
                    width: 350px;
                    height: 350px;
                }
            }
            p{
                font-size: 30px;
                color: $color-fuente;
                background-color: rgba(0, 0, 0, 0.2);
                text-align: center;
                &::selection{
                    color: $color-selection;
                }
            }
        }
}

.imagen13{
    width: 350px;
    height: 350px;
    @include flex(flex, end, center);
    flex-direction: column;
    margin-top: 80px;
    transition-duration: 1s;
                    &:hover{
                        transform: scale(1.1);
                    }
        p{
            font-size: 30px;
            color: $color-fuente;
            background-color: rgba(0, 0, 0, 0.2);
            &::selection{
                color: $color-selection;
            }
        }
        img{
            width: 350px;
            height: 350px;
        }
}