footer{
    background-color: black;
    @include flex(flex, space-between, center);
    padding: 10px;
        div{
            p{
            font-family: "League Spartan";
            color: $color-fuente;
            font-size: 15px;
            margin-bottom: 0px;
                &::selection{
                    color: $color-selection;
                }
            }
        }
        div{
            a{
                margin: 10px;
                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
}