.sectorUno{
    width: 100%;
    height: calc(100vh - 74px);
    background-image: url(../img/fondocharly.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @include flex(flex, start, end);
    padding: 40px;
    padding-left: 200px;
        h1{
        font-family: "League Spartan";
        color: $color-fuente;
        }
}

.tituloPequeño{
    font-size: 96px;
        &::selection{
            color: $color-selection;
        }
}

.tituloGrande{
    font-size: 128px;
        &::selection{
        color: $color-selection;
        }
}

.sectorDos{
    width: 100%;
    height: 798px;
    background-color: rgb(25, 25, 25);
    @include flex(flex, start, center);
}

.top{
    height: 798px;
    width: 300px;
    @include flex(flex, center, start);
    flex-direction: column;
        p{
            font-size: 40px;
            color: $color-fuente;
            margin-bottom: 0px;
                &::selection{
                    color: $color-selection;
                }
        }
}

.clics{
    width: 700px;
    @include flex(flex, center, center);
    flex-direction: column;
        h2{
            font-size: 128px;
            text-decoration: underline;
            color: black;
                &::selection{
                color: $color-selection;
                }
            span{
                color: black;
                font-size: 128px;
                text-decoration: underline;
                text-decoration-color: black;
                    &::selection{
                    color: $color-selection;
                    }
                }
        }
        p{
            font-size: 24px;
            width: 600px;
            text-align: center;
            color: $color-fuente;
            &::selection{
                color: $color-selection;
                }
        }
}

.boton{
    width: 200px;
    height: 50px;
    margin: 25px;
    transition-duration: 1s;
    &:hover{
        transform: scale(1.1);
    }
}

#carouselExample{
    width: 450px;
    height: 500px;
    margin-left: 20px;
    border: 2px solid goldenrod;
}

.sectorTres{
    width: 100%;
    height: 700px;
    display: flex;
        a{
            width: 25%;
            position: relative;
                p{
                    position: absolute;
                    bottom: 0;
                    font-size: 50px;
                    padding: 10px;
                    color: $color-fuente;
                    background-color: rgba(0, 0, 0, 0.2);
                    transition-duration: 1s;
                    &:hover{
                        color: $color-selection;
                    }
                }
        }
}

.sui{
    background-image: url(../img/suigeneris.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.maq{
    background-image: url(../img/maquinapajaros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.seru{
    background-image: url(../img/serugiran.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.solo{
    background-image: url(../img/solista.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}